<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="-metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/e043279352b87dab0f6e9a0fe06b161e"
        alt=""
      />
    </div>

    <div class="game-description">
      <p class="game-name">Game Name</p>
      <div class="game-platforms">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png"
          alt="slug"
          class="game-platform"
        />
      </div>
    </div>
  </div>
</div>
